
*{
    margin: 0;
    padding: 0;
}
 body{
    background:#d1cfcf;
    color:#5d5d63
}
  .header{
 background:#fff;
 width:900px;
 height: 900px;
 padding-top: 20px;
 padding-left: 20px;
 margin-left: 250px;
 margin-top: 100px;
 margin-bottom:100px;
 border-radius: 15px;

}
.one{
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
    padding-bottom: 50px;
}
/* section2*/
.two{
    color:rgb(3, 3, 3);
    font-size: 40px;
}
span{
    color: rgb(8, 8, 145);
   
}
.span{
    background-color: rgb(10, 10, 51);
    color:#fff;
    padding: 1px 6px 1px 6px;
    margin-left:10px;
    border-radius: 4px;
    font-size: 30px;
 
}

 .Mark{
   color:#a7a6a6; 
   padding-top: 20px;
   padding-right: 40px;
   font-size: 20px;
}
/*section4*/
.four{
    display: flex;
    gap: 30px;
    font-size: 20px;
    background: #dcdcdd;
    padding: 20px 20px 20px 20px;
    margin-right: 30px;
    border-radius: 15px;
}
img{
    width: 30px;
    height:30px
    border: radius 20px;

}
/*section5*/
.five{
    display: flex;
    gap: 30px;
    font-size: 20px; 
    background: #dcdcdd;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    margin-right: 30px;
}

/*section6*/
  .six{
    display: flex;
    gap: 30px;
    font-size: 20px; 
    background: #dcdcdd;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    margin-right: 30px;
    
  }
 .days{
    display: block;
 }

/*section7*/
.seven{
    display: flex;
    gap: 30px;
    font-size: 20px;
    padding: 10px 20px 20px 20px;
    border-radius: 15px;
}
/*section8*/
.eight{
    display: flex;
    gap: 30px;
    font-size: 20px;
    padding: 10px 20px 20px 20px;
}
/*section9*/
.nine{
    display: flex;
    gap: 30px;
    font-size: 20px;
    padding: 10px 20px 20px 20px;
}
/*section10*/
.ten{
    display: flex;
    gap: 30px;
    font-size: 20px;
    padding: 0px 20px 20px 20px;  
}
/*sectionp*/
.para{
    font-size: 20px;
    padding-left:90px;
    border: 1px solid;

    border-color:#a7a6a6;
}
@media screen and (max-width:10px){
    img{
        width: 3%;
        height:3%;
    }
    .header{
        flex-direction: column-reverse;
        padding-left:0;
        width:90%;
        margin: auto;
    }
    .header>*{
        text-align: center;
        
    }
    .one{
        padding-top:6%;
       padding-bottom: 4%;  
    }
   .two{
    font-size: 2%;
   }
}